# Configuracion del Servidor
PORT=8081

# Base de Datos (PostgreSQL local o Supabase en la nube)
DB_URL=jdbc:postgresql://localhost:5432/restopilot_db
DB_USERNAME=postgres
DB_PASSWORD=tu_password_aqui

# Seguridad y Token JWT
JWT_SECRET=JWT_SECRET=CAMBIA_ESTA_CLAVE_POR_UNA_SECRETA_DE_AL_MENOS_256_BITS_EN_BASE64
JWT_EXPIRATION=86400000
